<%= form_for(@entity) do |f| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% @entity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nome' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :profile, 'Perfil' %><br />
    <%= f.select :profile, [['Cliente', 1], ['Fornecedor', 2]] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
